# For local development with Docker
MONGODB_URL=mongodb://localhost:27017
MONGO_INITDB_DATABASE=dedchar

# For production with MongoDB Atlas
# MONGODB_URL=mongodb+srv://<user>:<password>@<cluster-url>/<dbname>?retryWrites=true&w=majority
# MONGO_INITDB_DATABASE=dedchar_prod
