body {
    font-family: 'Lora', serif;
}
@media print {
    body { -webkit-print-color-adjust: exact; print-color-adjust: exact; }
    #character-sheet-printable > div { display: block !important; }
    .print-container { display: grid !important; grid-template-columns: repeat(2, minmax(0, 1fr)) !important; gap: 1rem !important; }
    .print-col-span-2 { grid-column: span 2 / span 2; }
    .print\:hidden { display: none !important; }
}
